{{ form_start(form) }}
<div class="row">
    <div class="col mb-3">
        {{ form_widget(form.content) }}
    </div>
</div>
<div class="row">
    <div class="col-sm mb-3">
        {{ form_widget(form.postImages) }}
    </div>
    <div class="col-sm-4 mb-3">
        {{ form_widget(form.confidentiality) }}
    </div>
</div>
{{ form_widget(form.submit) }}
{{ form_end(form) }}
