{% extends 'security/security.base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block form %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
    <hr/>
    <p class="small text-center">
        or Login via
    </p>
    <div class="text-center">
        <a class="d-inline-block h5" href="{{ path('connect_google') }}"><span class="badge bg-light text-dark">Google</span></a>
        <a class="d-inline-block h5" href="{{ path('connect_discord') }}"><span class="badge bg-secondary">Discord</span></a>
    </div>
    <hr/>
    <p class="small text-center">Don't have an account ? - <a href="{{ path('app_register') }}">Register now</a></p>
{% endblock %}
